<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XCI2TitleConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XCI2TitleConverter.Properties.Settings>
            <setting name="pathXCIDir" serializeAs="String">
                <value />
            </setting>
            <setting name="pathOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="pathHactool" serializeAs="String">
                <value />
            </setting>
            <setting name="pathKeys" serializeAs="String">
                <value />
            </setting>
        </XCI2TitleConverter.Properties.Settings>
    </userSettings>
</configuration>